<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include templates/nav_bar.ejs %>
    <h1><%= title %></h1>
    <h3><%= page_name %></h3>
    <p>Developed by <%= author %>. Web application project for CSE5335- Web Data Managment. </p>
</body>
</html>
