<!DOCTYPE html>
<html  ng-app="myApp" ng-controller="AppCtrl">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
      <script src="/controller/controller.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form novalidate class="simple-form">
        <input type="number" placeholder="Enter Postal Code" onclick="select()" ng-model="code" />
        <input type="submit" ng-click="submit(code)" value="Submit" />
    </form>
    <!-- <pre>user = {{code | json}}</pre> -->

    <div class= "container" >
        <h4>Data from <a href="http://www.geonames.org/export/web-services.html#findNearbyPostalCodes">GeoNames</a> Nearby Postal Codes using controller: AngularJS</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Postal Code</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="postalCode in postalCodes">
                <td>{{postalCode.postalCode}}</td>
                <td>{{postalCode.lat}}</td>
                <td>{{postalCode.lng}}</td>
            </tr>
            </tbody>
        </table>
    </div>

  </body>
</html>
