<!DOCTYPE html>
<html ng-app="myApp" >
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
      <style>
        #gmaps{
            height: 450px;
            width: 450px;
            border: 2px solid red;

        }
      </style>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9grzxWEeWaSk-QGjkI9gHWC12-4Mt2no"
              async defer></script>

      <style>
          body {
              font: 14px sans-serif;
          }
          .axis path, .axis line {
              fill: none;
              stroke: black;
              shape-rendering: crispEdges;
          }
          .axis path{
              fill: none;
              stroke: none;
          }
          .bar {
              fill: steelblue;
          }
      </style>

      <script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
      <script src="/controller/reusable_chart.js"></script>


      <!--npm install angular-chart.js --save, npm install chart.js --save  -->
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= description %></p>

    <div ng-controller="AppCtrl">
        <form novalidate class="simple-form">
            <!-- <input type="number" placeholder="Enter Postal Code" onclick="select()" ng-model="code" /> -->
            <input type="submit" ng-click="submit(code)" value="Submit" />
        </form>
        <!-- <pre>user = {{code | json}}</pre> -->
        <h4>Data from <a target="_blank" href="http://www.geonames.org/export/web-services.html#findNearbyPostalCodes">GeoNames</a> Nearby Postal Codes.</h4>
        <div class= "container"  ng-if='postalCodes.length > 0'>  <!-- do not use ng-show  -->

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Postal Code</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Distance</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="postalCode in postalCodes">
                    <td>{{postalCode.postalCode}}</td>
                    <td>{{postalCode.lat}}</td>
                    <td>{{postalCode.lng}}</td>
                    <td>{{postalCode.distance}}</td>
                </tr>
                </tbody>
            </table>

            <div> <!--ng-controller="MapCtrl">-->
                <table>
                    <tr>
                <td>The above co-ordinates plotted on Google Maps<div my-map=""></div></td>

                <td>Distance of nearby postal codes from the first location
                <div ng-controller="mainCtrl">
                    <chart-form></chart-form>
                    <bar-chart height="options.height" data="data" hovered="hovered(args)"></bar-chart>
                    <!--<bar-chart height="300" data="data" hovered="hovered(args)></bar-chart>-->
                </div>
                </td>
                    </tr>
                </table>

            </div>

        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="/controller/controller.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  </body>
</html>


<!-- &callback=initMap
-->